* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
}
/* Header */
header {
  background-color: black;
  color: white;
  background-image: url('https://boone824.github.io/adopt-a-dog-winter2020/images/header-image.jpg');
}
#brand-container {
  display: flex;
  justify-content: space-between;
  width: 100%

}
#checkout-btn {
  background-color: green;
  padding: 5px 20px;
  color: white;
  margin-right: 2em;
  width: 120px;
  height: 25px;
}
#checkout-btn:hover {
  background-color: black;
  cursor: pointer;
  transition: all 0.5s ease;
  color: red;
  border: 1px red solid;

}
#brand-logo {
  margin-top: 2em;
  margin-left: 4em;
}
#brand-checkout p {
  text-align: right;
  margin-right: 2em;
  margin-top: 2em;
}
ul {
  margin: 0;
  padding: 0;

}
nav a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  line-height: 2em;
}
nav a:hover {
  text-decoration: underline;
}
nav li {
  list-style: none;
  float: left;
  display: inline;
  padding: 0px 20px;
}
nav {
  font-size: 1rem;
  background-color: #e7e7e7;
  height: 3rem;
  margin-top: 12rem;
}
nav ul, {
  margin: 0 auto;
  width: 70em;

}
main {
  width: 80%;
  margin: 0 auto;
}
/* Content Container */
#content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  margin: 1em 0;
  padding: 0 .5em;

}
.content p {
  padding-left: 2em;
  size: 2em;
}
.content h1 {
  size: 4em;
  padding-left: 1em;
}
.content-text {
  width: 50%;
  margin-left: 2%;
  margin-right: 2%;
}
main img {
  width: 100%;
}
/* Adopt Container */
#adopt-container {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 1em 0;
}
.adopt-item-1 {
  width: 33%;
  border: 2px grey solid;
  margin-bottom: 2%;
  padding: 1em;
}
.adopt-item-1 > img {
  width: 100%;
  cursor: pointer;
  border: 2px white solid;
}
.adopt-item-1 > img:hover {
  border: 2px green solid;
}
.adopt-item-1 > h1 {
  color: blue;
}
.adopt-btn > .button {
  border: 2px white solid;
  padding: 2% 20%;
  background-color: green;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  width: 100%;
}
.adopt-btn > .button:hover {
  border: 2px red solid;
  background-color: black;
  transition: all 0.5s ease;
  color: red;
  cursor: pointer;

}
/* Blog Container */
.blog-container{
display: flex;
margin-top: 2%;

}
.blog-image {
  width: 35%;
  vertical-align: text-top;
}
.blog-text {
  width: 65%;
  margin-left: 2%;
  margin-right: 2%;
  vertical-align: top;
}
.blog-preview {
  width: 25%;
  display: none;
}
.blog-box img {
  width: 100%;
}
/* Adopt More btn */
.adopt-more {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 8px 30px;
  color: white;
  text-decoration: none;
  text-align: center;
}
.adopt-more #more-btn {
  background-color: grey;
  color: white;
  width: 160px;
  padding: 2px 20px;
  height: 35px;
  font-size: .8em;
}
.adopt-more #more-btn:hover {
  background-color: green;
  transition: all 0.5s ease;
  cursor: pointer;
  border: 2px red solid;
  color: red;
}

/* Footer */
footer {
  text-align: center;
  height: 300px;
  background-color: blue;
}
.ft-container {
  margin: 0 auto;
  width: 40em;
  color: white;
}
.ft-nav {
  color: white;
  font-size: 1em;
}
.ft-nav li {
  list-style: none;
  display: inline;
  padding: 0px 10px;
  text-decoration: none;
}
.ft-nav a {
  text-decoration: none;
  font-size: 16px;
  color: white;
  line-height: 2em;
}
@media only screen and (max-width: 768px){
  #content-container {
    display: block;
    margin-right: 2%
  }
  main {
    width: 70%;
    margin-left: 2%;
    float: left;
  }
  aside {
    width: 20%;
    margin-left: 2%;
  }
  .content-text {
    width: 100%;
  }

  .adopt-item-1 {
    width: 45%;
  }
  .blog-preview {
    display: flex;
    flex-direction: column;
  }
  footer {
    clear: both;
  }
}
@media only screen and (max-width: 520px) {
  .adopt-item-1 {
    width: 100%;
  }
  main {
    width: 100%;
    margin-left: 2%;
  }
  #brand-container {
    text-align: center;
 }
  #brand-logo {
    margin: 0 auto;
  }
  #content-container {
    margin: 0 auto;
  }
  .ft-container {
    margin: 0 auto;
    width: 80%;
    color: white;
  }
  nav a {
    font-size: 1.5rem;
    line-height: 4rem;
  }
  .blog-preview {
    display: none;
  }
}
