*{

  box-sizing: border-box;
}
body{
  margin : 0px;
  padding: 10px;
  text-align: center;
}
.header-container{
  background-image: linear-gradient(blue, yellow);
  background-image: url("../images/header-image.jpg");
background-size: cover;
height: 400px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-around;
align-items: baseline;
}

li{
 display: inline;
 font-size: 1.2rem;
 color: blue;
 font-weight: bold;
}
li:after {
   content: ' \002F';
}
li:last-child::after { display: none; }
.dogs-main-section{
  width : 60%;
  float : left;
  height: 100%;
}
.dog-home-img{
  width : 100%;
  height: 500px;
}
.right{
  width: 32%;
  height: 1000px;
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}
.dogs-main{
  margin-left: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
  background: white;
  height: 100%;
  width: 100%;
}
.margin{
  margin: 10px,0px;
}
.dogs-main::after{
  content : "";
  clear: both;
  display: table;
}
.dog-section{
  display: flex;
  flex-direction: row;
  align-items: baseline;
flex-wrap: wrap;
justify-content: space-between;
}
.dog-tile{
  width: 33%;
  padding: 10px;
}
.dogs-dog-tile{
  width: 25%;
  padding: 10px;
}
.dog-img{
  width: 100%;
}
@media screen and (max-width: 768px) {
  .dogs-dog-tile  {
    float: none;
    width: 100%;
  }
}
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
      .dogs-dog-tile  {
      float: none;
      width: 50%;
}
}
@media print {
    body img{
    display: none;
    }
  }
.btn{
  padding: 8px 80px;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  text-align: center;
  background-color: #81B640;
}
.btn-adopt{
  margin: 0 auto;
    display: block;
}
.adopt-dog-logo{
  height: 200px;
}
.cart-icon{
  height: 200px;
  width: 300px;
  align-self: flex;
}
.adoption-cost{
  height: 25px;
  width: 100px;
  color: white;
  font-weight: bold;
}
.logo-bar-img{
  width: 400px;
}
.cart-img{
  width: 50px;
}
.logo-bar-text{
  color: #81B640;
  font-weight: bold;
  font-style: italic;
  font-size: 35px;
  padding: 8px 80px;
}
.btn.btn-checkout{
padding: 4px 30px;
}
.home-blog-img{
  width: 80%;
height: 200px;
}
.menu-bar{
  background-color: red;
}
.btn-see-more{
  background-color: #EAEAEA;
    margin-left: 500px;
    padding: 5px 60px;
    font-weight: bold;
}
.blog-container{
  display: flex;
  flex-direction: row;
justify-content:space-between;
background-color: white;
width:100%;
}
.checkout-container{
display: flex;
background-color: white;
}
.main-container div, .dogs-container div , .blog-container div{
  padding:10px;
}
#frm-checkout{
  margin-left: 100px;
  margin-bottom: 10px;
}
.footer-container{
  display: flex;
  flex-direction: column;
  align-items: center;
height: 100%;
background-color: #3D3D3D;
}
.footer-image-container{
  width: 50%;
}
