body {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2rem;
}

/* Header */
header {
  background-image: url(images/header-image.jpg);
}

header img {
  max-width: 35%;
  height: auto;
  /* float: left; */
}

header h1 {
  color: green;
}

.checkout-page-link {
  color: white
}

.menu-bar {
  background: lightgrey;
  padding: 1px;
}

li {
  display: inline;
}

a {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
}