body {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2rem;
}

/* Header */
header {
  background-image: url(images/header-image.jpg);
}

header img {
  max-width: 35%;
  height: auto;
  /* float: left; */
}

header p {
  color: green;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.checkout-page-link {
  color: white;
  float: right;
}

.menu-bar {
  background: lightgrey;
  padding: 1px;
}

li {
  display: inline;
}

a {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
}

.blog1, .blog2, .blog3 {
  display: flex;
}

footer {
  background-color: #003366;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

footer img {
  width: 200px;
  height: 150px;
}

footer a {
  color: white;
  font-weight: bold;
}