/*adoptadog stylesheet*/

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  border: none;
  margin: 0;
  background: linear-gradient(to right, #007399 35%, #009933);
  background-image: url('images/header-image.jpg');
  background-position: center top;
  background-size: cover;
  padding: 2%;
}

header {
  display: flex;
  flex-flow: row;
  }

  .dog-logo {
    width: 50%;
  }

.main-container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
  margin-right: 10%;
  margin- bottom: 5%;
  margin-left: 10%;
}

h3 {
  font-size: 20px;
  font-family: Gill sans, sans-serif;
  color: chartreuse;
}

h4 {
  color: DarkCyan;
}

header {
  display: flex;
  justify-content: space-between;
}

.checkouticon {
  margin-right: 20%;
}

.checkbutton {
  background-color: chartreuse;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70%;
}

nav {
  width: 100%;
  margin: 0 0 1%;
  padding: .5%;
  background-color: pink;
}

li {
  display: inline;
  padding: 1%;
  font-size: 82%;
}

.topnav {
  color: DarkCyan;
  text-decoration: none;
  fontfamily: Gill sans, sans-serif;
  font-weight: bold;
}

h1 {
  color: DarkCyan;
}

h2 {
  color: DarkCyan;
  }

.main-pararaph {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.intro-para {
  padding: 2%;
  width: 80%;
  }

p {
  font-family: sans-serif;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 1%;
  padding-left: 1%;
}


.dogbox {
  width: 20%;
  border: solid 1px black;
  margin: 1%;
  padding: 1%;
  font-size: 70%;
    }

.dogbox-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

.dogname {
  color: DarkCyan;
}

.dogboxpix {
  width: 100%;
}

.dogbutton {
  width: 100%;
  color: white;
  background-color: chartreuse;
  padding-bottom: 1%;
}

.moredogs {
  background-color: pink;
  color: DarkCyan;
  font-family: sans-serif;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 70%;
}

.pinkbutton {
  margin: 0 30%;
}


.blog-box {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: row;
}

.box1 {

  width: 50%;
  border: 1px solid white;
  text-align: center;
}

.box2 {
  width: 100%;
}


.blog-preview {
  font-size: 70%;
  width: 100%;
}

.preview-image {
  width: 80%;
}

input {
  box-sizing: border-box;
  margin: 1em;
}

input:focus {
  background-color: pink;
  outline: none;
}

label {
  font-family: sans-serif;
  font-size: 100%;
  color: DarkCyan;
}

fieldset {
  border: none;
  display: inline;
}

.adopted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 80%;
  font-family: sans-serif;
  font-size: 75%;
}

.submitbutton {
  background-color: chartreuse;
  color: white;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 70%;
}

footer {
  border: 2px solid grey;
  background-color: grey;
  width: 100%;
  padding: 5%;
  text-align: center;
}


@media screen and (max-width: 768px) {

  .topnav{
    font-size: 30px;
  }

  .dogbox {
    width: 33%;
  }
  aside {
    width: 100%;
  }

  .main-paragraph {
    margin: 0;
  }
}

@media screen and (max-width: 600px){

     header {
       width: 600px;
    }

    nav {
      width: 600px;
    }

    .topnav {
      font-size: 20px;
    }

    .main-paragraph {
      margin: 1px;
    }

    p {
      font-size: 15px;
    }

  .dogbox {
    width: 100%;
    display: block;
  }
  .blog-preview {
    display: none;
  }

  footer {
    width: 600px;
  }
}
