body {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2rem;
}

/* Header */
header {
  background-image: url(images/header-image.jpg);
}

header img {
  max-width: 35%;
  height: auto;
  /* float: left; */
}

header p {
  color: green;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}

.checkout-page-link {
  color: white;
  float: right;
}

.menu-bar {
  background: lightgrey;
  padding: 1px;
}

li {
  display: inline;
}

a {
  color: darkblue;
  text-decoration: none;
  font-weight: bold;
}

#homepage {
  width: 100%;
  margin-top: 10px;
  margin-left: 40px;
}

article img {
  float: left;
  width: 30%;
  height: 200px;
  padding-right: 20px;
}

article div {
  padding: 20px;
  width: 70%;
}

.homepage-box-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: dashed green;
}

p .homepage-box-wrapper {
  size: 0.1rem;
}

h4 {
  color: darkblue;
  font-weight: bold;
}

footer {
  background-color: #003366;
  color: white;
  font-size: 0.9rem;
  text-align: center;
}

footer img {
  width: 200px;
  height: 150px;
}

footer a {
  color: white;
  font-weight: bold;
}