* {
  box-sizing: border-box;
}

:root {
  --green: #95be66;
  --blue: #224971;
  --grey: #e9e9e9;
  --lightgrey: #e7e7e7;
  --headerfont: 'Gelasio', Arial, sans-serif;
  --textfont: 'Open Sans', Arial, sans-serif;
}

/* header */
a {
  text-decoration: none;
  font-family: var(--textfont);
}

h1, h2, h3 {
  color: var(--blue);
  font-family: var(--headerfont);
}

header {
  width: 100%;
  background-image: url("../images/header-image.jpg");
  background-size:cover;
}

.header-content-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 4rem 5rem 6rem 5rem;
}

.checkout-button-content-container > a {
  /* border: dashed red; */
  padding: 0.5rem 2rem;
  background-color: var(--green);
  color: white;
  font-weight: bold;
  font-size: 0.85rem;
}

.checkout-button-content-container,
.cart-content-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cart-content-container img {
  padding-right: 0.5rem;
  justify-content: flex-end;
}

.checkout-content-container {
  grid-column-start: 3;
}

header + nav {
  width: 100%;
  background-color: var(--grey);
}

nav > ul {
  margin: 0;
  display: flex;
  flex-direction: row;
}

header + nav > ul {
  padding: 1.5rem 9rem;
}

nav ul li {
  margin: 0;
  list-style: none;
  padding-right: 0.7rem;
}

header + nav a {
  color: var(--blue);
  font-family: var(--headerfont);
  font-weight: bold;
}

li:not(:nth-child(3))::after {
  padding-left: 0.7rem;
  content: "/";
}

.logo-content-container > img {
  margin: 0;
  display: block;
}

.logo-content-container > p {
  color: var(--green);
  margin: 0;
  display: block;
  font-family: var(--headerfont);
  font-style: italic;
  font-weight: 500;
  font-size: 1.5vw;
}

.cart-content-container > p {
  color: white;
}

.cart-content-container > img {
  width: 7%;
  min-width: 25px;
}

.main-content-container {
  margin: 2% 10%;
}

.landing-page.main-content-container {
  margin: 2% 3% 2% 10%;
  width: 70%;
}

/* home + dog */
.landing-page-container {
  display: flex;
}

main p {
  font-family: var(--textfont);
}

.intro img {
  /* min-width: 250px; */
  /* max-height: 350px; */
  max-height: 600px;
  width: 100%;
}

/* .intro {
  display: flex;
  flex-wrap: wrap;
} */

/* .intro-text {
  margin: 0 0 0 2rem;
  max-width: 60%;
} */

.intro p {
  font-weight: 300;
  line-height: 150%;
}

.see-more-dogs-container {
  text-align: center;
  margin: 3rem;
}

.see-more-dogs-container > a {
  font-weight: 800;
  padding: 1% 3%;
  border-style: none;
  border-radius: 2px;
  color: var(--blue);
  background-color: var(--grey);
}

.dog-cards {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  grid-gap: 3rem;
}

.landing-page-container .dog-cards {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-gap: 3rem;
}

.card {
  border: 1px solid var(--lightgrey);
  border-radius: 5px;
}

.card img {
  width: 100%;
}

article {
  margin: 1rem;
}

article h2 {
  margin:0;
}

.cost-to-adopt-container {
  display: flex;
}

.cost-to-adopt-container p:first-child {
  padding-right: 0.5rem;
  font-weight: bold;
}

.cost-to-adopt-container p {
  margin: 0.5rem 0;
  font-size: 0.8rem;
}

article > p {
  margin: 0;
  font-weight: 300;
  font-size: 0.8rem;
}

article input {
  display: block;
  margin: 1rem auto;
}

aside {
  width: 30%;
  margin: 2% 10% 2% 3%;
}

aside img {
  width: 100%;
  max-height: 250px;
}

.aside-blog-preview-container {
  width: 100%;
  font-size: 0.8rem;
}

.aside-blog-preview-container:not(:first-of-type) {
  margin-top: 5rem;
}

/* header input, */
.dog-cards input {
  width: 100%;
  color: white;
  font-weight: bold;
  background-color: var(--green);
  padding: 5%;
  border-style:none;
  border-radius: 2px;
}

header input {
  width: auto;
  padding: 3% 5%;
}

/* footer */
footer {
  background-color: var(--blue);
  color: white;
  margin: 2rem auto auto auto;
  overflow: auto;
  display: flex;
  justify-content: center;
}

footer p,
footer a {
  font-family: var(--textfont);
  font-size: 0.8rem;
}

footer nav a {
  color: white;
}

.footer-content-container {
  margin: 3rem 30%;
  text-align: center;
  word-wrap: break-word;
}

.footer-content-container > img {
  width: 40%;
}

.footer-content-container nav {
  display: flex;
  justify-content: center;
}

.footer-content-container nav ul {
  padding-left: 0;
}

.copyright-content-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
}

/* blog */
.blog-preview-container img {
  float: left;
  margin: 0 1rem 0 0;
}

.blog-preview-container {
  clear: left;
  overflow: auto;
  margin-top: 2rem;
}

.blog-preview-container h2 {
  margin:0;
}

.blog-preview-container p {
  font-weight: 300;
}

/* checkout form */
form input,
form select {
  box-sizing: border-box;
  padding: 0.5rem 3rem;
}

form label,
.form-first-time p {
  color: var(--blue);
  font-family: var(--headerfont);
  font-weight: 800;
}

form > input,
form > select {
  display: block;
  margin: 0 0 1rem 0;
}

.total-cost + input {
  color: white;
  font-weight: bold;
  background-color: var(--green);
  padding: 1% 5%;
  border-style:none;
  border-radius: 2px;
  margin-bottom: 3rem;
}

.form-geography, .form-first-time {
  margin: 1.5rem 0 1rem 0;
}

.form-geography label {
  display: inline-block;
}

.form-geography input,
.form-geography select {
  display: block;
}

.form-geography label:nth-child(1n+2),
.form-geography input:nth-child(1n+2),
.form-geography select:nth-child(1n+2){
  margin-left: 2rem;
}

.form-first-time p {
  margin: 0 0 0.5rem 0;
}

.dogs-adopted {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.dogs-adopted section img {
  float: left;
  margin: 0 1rem 0 0;
}

.dogs-adopted section {
  clear: left;
}

.dogs-adopted section > p {
  margin-bottom: 0;
}

.total-cost {
  clear: left;
}

.total-cost h3 {
  margin-bottom: 0;
}

.total-cost p{
  margin-top: 0;
}
