body {
    box-sizing: border-box;
    background-color: #DCDCDC;
}

.header {
    background: linear-gradient(to right, #003C63, white);
    background-image: url("../images/header-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-logo {
    max-width: 100%;
}

.caption {
    color: #42aa04;
    font-style: italic;
    line-height: 10%;
}

.checkout {
    color: #FFFFFF;
    background-color: #42aa04 ;
}

.header-box-1 {
    margin: 2rem 2rem 6rem 4rem;
}

.header-box-2  {
    margin: 2rem 6rem 10rem 20rem;
}

.header-box-2 i {
    color: #FFFFFF;
}

.adopt {
    background-color: #42aa04;
    color: #FFFFFF;
    height: 3rem;
}

.main-menu {
    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    font-family: sans-serif;
}

li a {
    text-decoration: none;
    color: #2e3236;
    font-size: 80%;
    font-weight: bold;
}

li {
    list-style: none; 
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
}

li:before {
    content: " / ";
    position: absolute;
    right: 0;
}

li:last-child:before { 
    content: ''; 
}

.main-container {
    background-color: #FFFFFF;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 6rem;
}

.main-container-index {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.main-dogs {
    display: flex;
    flex-direction: column;
}

.main-container-blog {
    background-color: #FFFFFF;
    max-width: 100%;
    padding-right: 6rem;
}

.dogs-title {
    text-align: left;
}

.blog-title {
    text-align: left;
    padding-left: 6rem;
    padding-top: .25rem;
}

.blog-text {
    padding-left: 3rem;
}

.blog {
    display: flex;
    padding: 2rem 6rem 2rem 6rem;
}

.blog-preview {
    padding-bottom: 4rem;
}

.blog-preview a {
    text-decoration: none;
    color: #2e3236;
    font-weight: bold;
}

.main-blog-preview {
    padding: 2rem 0rem 2rem 0;
}

.mission {
    padding: 2rem 2rem 2rem 2rem;
}

.mission img {
    padding-right: 2rem;
}

.dog-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 0 6rem 0 6rem;
}

.dog-boxes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    padding: 0 2rem 0 0rem;
}

.dog-box {
    border: .05rem solid grey;
    max-width: 100%;
}

.dog-box-image {
    max-width: 100%;
}

.dog-box-info {
    padding: 0 1rem 1rem 1rem;
    line-height: 1rem;
}

.dog-box-info button {
    width: 100%;
    display: block;
}

.see-more-dogs {
    height: 3rem;
    width: 15rem;
    margin: 4rem 0 6rem 8rem;
}

.see-more-dogs>button {
    background-color: lightslategrey;
}

.blog-link {
    margin: 0 4rem 4rem 14rem;
}

.blog-link a:link {
    background-color: lightgrey;
    color: white;
    text-decoration: none;
    padding: 1rem;
    border: 1px solid black;
}

.footer {
    background-color: #003C63;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 3rem 10rem 3rem 10rem;
} 

.footer-image {
    height: 100px;
    width: auto;
}

.footer h4 {
    line-height: 1rem;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: sans-serif;
}

.footer-nav li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 80%;
    font-weight: bold;
}

.footer-nav li {
    list-style: none; 
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
}

.footer-nav li:before{
    content: " / ";
    position: absolute;
    right: 0;
}

.footer-nav li:last-child:before { 
    content: ''; 
}

/* for mobile */
@media only screen and (max-device-width: 767px) {
    .main-container-index {
        display: flex;
        padding: 0 25%;
    }
    .dog-boxes-grid {
        display: flex;
        flex-direction: column;
    }
    .main-menu {
        flex-direction: column;
    }
    li a {
        font-size: x-large;
    }
    .main-blog-preview {
        display: none;
    }
    li:before {
        content: "  ";
    }
    .blog-link {
        display: inline;
    }
}

/* for tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) {
    .dog-boxes-grid {
        grid-template-columns: 1fr 1fr;
    }
    .blog-link {
        display: none;
    }
}

/* for larger than tablet */
@media only screen and (min-decvice-width: 1367px) {
    .dog-boxes-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .blog-link {
        display: none;
    }
}

@media print {
    body {
        color: black;
    }
}
