* {
  box-sizing: border-box;
}

button, input, select {
  font-family: inherit;
  font-size: 100%;
}

header {
  background-image: url(../images/header-image.jpg);
  background-size: cover;
}

footer {
  color: white;
  background-color: rgb(13, 45, 78);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 3rem;
}

body {
  margin: auto;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: expanded;
}

.blog-post-font {
  font-size: .9rem;
  line-height: 1.25rem;
}

.main-font {
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 1rem;
}

.logo {
  padding: 3rem 0rem 0rem 6rem;
  width: 100%;
  min-width: 320px;
}

.tagline {
  font-size: 1.55rem;
  font-style: italic;
  margin-top: -1rem;
  padding: 0rem 0rem 10rem 6rem;
  color: rgb(116, 171, 42);
}

.cost {
  color: white;
}

.checkout {
  color: white;
  font-weight: bold;
  background-color: rgb(116, 171, 42);
  padding: .5px 30px;
  border-radius: 2px;
  /* padding: .01rem 2rem; */
}

.button-p {
  line-height: 0;
}

.checkout-link {
  text-decoration: none;
}

.cart {
  width: 15%;
  padding-right: .5rem;
}

.cart-cost {
  display: flex;
  justify-content: flex-end;
}

.cart-cost-button {
  padding: 3rem 6rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.top-nav {
  background-color: rgb(231, 231, 231);
  width: 100%;
  padding: .5rem 0rem .5rem 14.5rem;
}

.top-nav a {
  text-decoration: none;
  color: rgb(11, 38, 66);
}

li {
  display: inline;
  text-decoration: none;
  font-weight: bold;
}

li::after {
  content: "/";
  padding: .8rem;
}

li:last-of-type:after {
  content: none;
}

ul {
  padding-left: 0;
}

.header-flexbox {
  display: flex;
  justify-content: space-between;
}

.logo-tagline {
  width: 40%;
}

.footer-logo {
  width: 25%;
}

h1, h2, h3 {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  color: rgb(13, 45, 78);
}

h3 {
  font-size: 1rem;
}

.h2-padding {
  padding: 2rem 0rem 1rem 12rem;
}

.dogs-main {
  width: 100%;
  /* min-width: 320px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding: 2rem 12rem 3rem; */
  padding-right: 3rem;
}

.first-main-image {
  margin-bottom: 2rem;
  width: 100%;
}

.home-dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding-right: 3rem;
  /* padding: 0rem 9.625rem 2rem; */
}

.dog-card {
  max-width: calc(180px - 1rem);
  /* width: calc(33.33% - 1rem); */
  border: 2px solid rgb(242, 242, 242);
  margin: 0 .5rem 2rem;
}

.dogs-dogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 0 10rem 2rem;
}

.dog-info {
  font-size: .75rem;
  line-height: 1rem;
}

.cost-bold {
  font-weight: bold;
}

.from-blog-h2 {
  padding-bottom: 1.5rem;
}

.blog-preview {
  padding-bottom: 3rem;
}

 .blog-preview-para {
   font-size: .8rem;
   line-height: 1.25rem;
 }

.read-more {
  text-decoration: none;
  color: rgb(40, 137, 172);
}

.dog-card-b {
  /* max-width: calc(180px - 1rem);
  border: 2px solid rgb(242, 242, 242);
  margin: 0 .5rem 2rem; */
  min-width: 180px;
  max-width: 20%;
  border: 2px solid rgb(242, 242, 242);
  margin: 1.25rem;
}

.dog-img {
  width: 100%;
  padding-bottom: .5rem;
}

.more-dogs {
  margin: 0 auto;
  width: 10rem;
  text-align: center;
  padding: 1px 1px;
  margin-bottom: 3rem;
  background-color: rgb(230, 230, 230);
  color: rgb(13, 45, 78);
  font-weight: bold;
  border-radius: 2px;
  display: block;
}

.more-dogs-link {
  text-decoration: none;
}

.more-dogs-link:visited {
  color: rgb(13, 45, 78);
}

.adopt {
  margin: 0 auto;
  display: block;
  font-weight: bold;
  width: 100%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: white;
  border: none;
  background-color: rgb(116, 171, 42);
  border-radius: 2px;
  cursor: pointer;
}

.card-padding {
  padding: 0 .75rem 1rem .75rem;
}

.all-dogs {
  padding: 2rem 12rem;
}

.blog-main {
  width: 100%;
  margin: 0 auto;
  padding: 1rem 12rem;
}

.blog-post {
  width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 5rem;
}

.blog-img {
  padding-right: 2.5rem;
  width: 35%;
}

.checkout-main {
  margin: 0 auto;
  width: 100%;
  padding: 1rem 12rem 3rem;
}

.checkout-content {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: rgb(13, 45, 78);
}

.dogs-adopted {
  display: flex;
  flex-direction: row;
}

.dogs-adopted-padding {
  padding: 2rem 0;
}

.adopt-cost {
  display: flex;
  flex-direction: row;
}

.submit {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  padding: .5px 60px;
  border-radius: 2px;
  color: white;
  border: none;
  background-color: rgb(116, 171, 42);
  cursor: pointer;
  margin: 1rem 0;
}

.adopt-img {
  width: 25%;
  align-self: center;
  padding-right: 1rem;
}

.radio-input {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: flex-end;
}

.city, .state, .zip {
  display: block;
}

.state-select {
  width: 85%;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
}

.pickup-select {
  width: 25%;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
}

.zip-input {
  width: 100%;
}

.city-input {
  width: 90%;
}

.state-select, .zip-input, .city-input {
  margin-bottom: 1.5rem;
}

.city-state-zip {
  display: flex;
  flex-direction: row;
}

input {
  width: 60%;
  padding: .5rem 0;
  margin-bottom: 1.5rem;
}

select {
  width: 25%;
}

.no-input, .yes-input {
  width: 3%;
}

form {
  font-size: 1.25rem;
}

h2 {
  font-size: 1.5rem;
}

.no-label, .yes-label {
  font-size: 1rem;
}

.yes-label {
  padding-right: 2rem;
}

label, span {
  line-height: 2rem;
}

.index-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 2rem 12rem;
}

.adopt-a-dog {
  width: 75%;
}

.from-our-blog {
  width: 25%;
}

.small-blog-img {
  width: 100%;
  padding-bottom: 1rem;
}

main {
  max-width: 1200px;
  margin: 0 auto;
}

/* tablet */
@media screen and (max-width: 769px) {
  .top-nav {
    padding: .5rem 0;
    text-align: center;
  }

  .index-main {
    width: 100%;
    padding: 2rem;
  }

  .dogs-adopted {
    display: flex;
    flex-direction: column;
  }

  .adopt-cost {
    display: flex;
    flex-direction: column;
  }

  .adopt-img {
    align-self: flex-start;
  }

  .checkout-main {
    padding: 2rem;
  }

  .dog-card {
    max-width: 45%;
  }

  .dogs-dogs {
    padding: 0;
  }

  .dog-card-b {
    max-width: 35%;
  }

  .blog-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .blog-main {
    padding: 2rem;
  }

  .blog-img {
    padding-right: 0;
    margin-bottom: 2rem;
    width: 65%;
  }

/* header */
  .header-flexbox {
    display: flex;
    flex-direction: column;
  }

  .logo-tagline {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }

  .tagline {
    font-size: 1.5rem;
    padding: 0;
  }

  .logo {
    padding: 0;
    width: 75%;
    min-width: 320px;
  }

  .cart-cost-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .cart-cost {
    display: flex;
    justify-content: center;
  }
}

/* phone */
@media screen and (max-width: 576px) {
  .top-nav {
    padding: .5rem 0;
    text-align: center;
  }

  .from-our-blog {
    display: none;
  }

  .index-main {
    width: 100%;
    padding: 1rem;
  }

  .adopt-a-dog {
    width: 100%;
  }

  .dogs-main {
    padding: 0;
  }

  .dogs-dogs {
    padding: 0;
  }

  .dog-card {
    max-width: 50%;
  }

  .dog-card-b {
    max-width: 50%;
  }

  .home-dogs {
    padding: 0;
  }

  .h2-padding {
    padding: 2rem 0;
    text-align: center;
  }

  .blog-post {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .blog-img {
    padding-right: 0;
    margin-bottom: 2rem;
    width: 65%;
  }

/* header */
  .header-flexbox {
    display: flex;
    flex-direction: column;
  }

  .logo-tagline {
    width: 100%;
    text-align: center;
    padding-top: 2rem;
  }

  .tagline {
    font-size: 1rem;
    padding-top: 1rem;
  }

  .logo {
    padding: 0;
    width: 75%;
    min-width: 320px;
  }

  .cart-cost-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }

  .cart-cost {
    display: flex;
    justify-content: center;
  }
}
